@font-face{
    font-family:"today-easter";
    src:url(../font/Today-Easter.otf)
}
* {
	padding:0;
	margin:0;
	font-family: "today-easter";
	font-weight: 600;
}
html, body {
	overflow-x: hidden;
	overflow-y: hidden;
}



.center-title{
    width: 100%;
    text-align: center;
}
.center-element {
    display: flex;
    justify-content: center;
	margin: 4% 0;
}
.center-authentification{
	display: flex;
    justify-content: center;
	align-items: center;
	height: 100%;
	
}
.sectionAuthentification{
	width:25%;
	background-color: white;
	box-shadow: rgba(2, 2, 2, 0.2) 0px 2px 8px 0px;
	border-color: black;
	border-radius: 25px;
	min-width: 300px;
}
h1 {
	color:#333;
	text-align:center;
	margin: 5% 0 10% 0;
	font-size: 3em;
}
h2{
	font-size: 1.8em;
	margin-right: 3%;
}
input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: 100;
}
#submit-button{
	width: 15%;
}

#play-button
{
	width: 10%;
	min-width: 150px;
	margin-right: 5%;
}
#practice-button
{
	width: 10%;
	min-width: 150px;
	margin-left: 5%;
}

#leave-button{
	margin-top: 2%;
	width: 10%;
	min-width: 150px;
}

#center-div{
	display: inline-block;
    vertical-align: top;
}

#div-button{
	margin-top: 15%;
	text-align: center;	
}

.center-inside{
	text-align: center;	
}

#background-Acceuil{
	background-image:url('../images/background1Sol.jpg');
	background-repeat:no-repeat;
	background-size: cover;
}

#background-Tavern{
	background-image:url('../images/backgroundAnimate.gif');
	background-repeat:no-repeat;
	background-size: cover;
}
#background-Game{
	background-image:url('../images/background4.jpg');
	background-repeat:no-repeat;

}

.canonball{
	position: absolute;
	background-image:url('../images/CanonballFire.png');
	background-repeat:no-repeat;
    background-size:contain;

	width: 6%;
	height: 8%;
}

#left-canon{
	position: absolute;
	background-image:url('../images/canon.png');
	background-repeat:no-repeat;
    background-size:contain;
	transform: rotate(-10deg);

	width: 10%;
	height: 15%;
	min-width: 100px;
	min-height: 130px;

	left: 5%;
	top: 83%;
}
#right-canon{
	position: absolute;
	background-image:url('../images/canon.png');
	transform: rotate(10deg) scaleX(-1);
	background-repeat:no-repeat;
    background-size:contain;
	
	width: 10%;
	height: 15%;
	min-width: 100px;
	min-height: 130px;

	right: 5%;
	top: 83%;
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}


/* GAME.PHP */

#OpponentHUD{
	height: 22vh;
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(13, 13, 13, 0.30);

	border-style:solid;
	border-color: white;
	border-width: 7px;
}
#OpponentBoard{
	height: 26vh;
	display: flex;
	justify-content: center;
}
#PlayerBoard{
	height: 26vh;
	display: flex;
	justify-content: center;
}
#PlayerHUD{
	height: 22vh;
	background-color: rgba(13, 13, 13, 0.30);
	display: flex;

	border-style:solid;
	border-color: white;
	border-width: 7px;
}
#PlayerInfo{
	width: 20%;
	height: 25vh;
}
#OpponentName{
	color: white;
}

#PlayerFlexContainer{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#PlayerHandContainer{
	width: 80%;
	height: 25vh;
	
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
#PlayerHand{
	width: 100%;
	height: 163px;
	display: flex;
}

#HPPLAYER{
	background-image:url('../images/heart.png');

	height: 30%;
	width: 100%;
  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	color: black;
	font-weight: 900;
    font-style: normal;
	text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	
	font-size: 2em;
}
#MANAPLAYER{
	background-image:url('../images/mana.png');

	height: 30%;
	width: 100%;
  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	color: black;
	font-weight: 900;
    font-style: normal;
	text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	font-size: 2em;
}

#CLOCK{
	background-image:url('../images/clock.png');
	
	height: 30%;
	width: 100%;

  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	color: black;
	font-weight: 900;
    font-style: normal;
	text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	font-size: 2em;
}

#HPOPPONENT{
	background-image:url('../images/heart.png');

	height: 30%;
	width: 100%;
  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	color: black;
	font-weight: 900;
    font-style: normal;
	text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	
	font-size: 2em;
}
#MANAOPPONENT{
	background-image:url('../images/mana.png');

	height: 30%;
	width: 100%;
  	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	color: black;
	font-weight: 900;
    font-style: normal;
	text-shadow: 3px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	font-size: 2em;
}
th{
	height: 25vh;
}
td{
	display: block;
	text-align: center;
	font-size: 2em;
}
#img-opponent{
	height: 15vh;
	width: auto;
}

.vertical-center-opponent{
	display: flex;
  	align-items: center;
  	justify-content: center;
	flex-direction: row;

	height: 100%;
	width: 25%;
}

.vertical-center-player{
	display: flex;
  	align-items: center;
  	justify-content: center;
	flex-direction: row;

	height: 100%;
	flex: 1;
}

#PlayerButtons{

	display: flex;
	flex-direction:column;
	justify-content: center;
}
#EndTurn{
	font-size: 1.5em;
	margin: 5px 0;
}
#HeroPower{
	font-size: 1.5em;
	margin: 5px 0;
}

.RedirectToTavern{
	margin-top: 15px;
	padding: 0 10px;
	font-size: 0.7em;
	background-color: white;
}

#absolute-centering-win{
	width: 50vw;
	min-height: 33vh;
	padding: 5px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/* position the div in center */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	background-color: transparent;
	font-size: 3em;

	border-style:solid;
	border-width: 7px;
}


#absolute-centering-loose{
	width: 50vw;
	min-height: 33vh;
	padding: 5px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/* position the div in center */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	background-color: transparent;
	font-size: 3em;

	border-style:solid;
	border-width: 7px;
}

#absolute-centering-waiting{
	width: 50vw;
	min-height: 33vh;
	padding: 5px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	/* position the div in center */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	background-color: transparent;
	font-size: 3em;

	border-style:solid;
	border-width: 7px;
}
/*CARD*/

.center-card-info{
	display: flex;
  	align-items: center;
	justify-content: space-evenly;

	height: 20px;
	width: 100%;
	padding-top: 10px;
}


.character{
	width: 125px;
	height: 163px;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain;
	background-position: center;

	margin: 0 5px;

}
.name{
	position: relative;

	font-weight: 900;
	font-style: normal;
	text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;
	font-size: 1em;

	top: 13px;
}
.desc{
	position: relative;
 	text-align: center;
	font-size: 1em;
	top: 20px;
	font-weight: 900;
	font-style: normal;
	padding: 0 6px;
}

.img{
	position: relative;
 	text-align: center;
	top: 5px;
	left: 20px;
	width:85px ;
	height: 50px;
}

.attack{
	background-image:url('../images/Asset/sword.png');
	width: 20px;
	height: 20px;

	font-weight: 900;
    font-style: normal;
	text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;
	font-size: 1.2em;
}
.cost{
	background-image:url('../images/Asset/mana.png');
	width: 20px;
	height: 20px;

	font-weight: 900;
    font-style: normal;
	text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;
	font-size: 1.2em;
}
.hp{
	background-image:url('../images/Asset/heart.png');
	width: 20px;
	height: 20px;

	font-weight: 900;
    font-style: normal;
	text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	text-align: center;
	font-size: 1.2em;
}


